*.parquet filter=lfs diff=lfs merge=lfs -text
*output/* filter=lfs diff=lfs merge=lfs -text
data/import/input/.* filter=lfs diff=lfs merge=lfs -text
data/import/input/* filter=lfs diff=lfs merge=lfs -text
